.gallery {
  padding-top: 23px;
  padding-bottom: 3px;

  @include vp-1439 {
    padding-top: 19px;
    padding-bottom: 0;
  }

  @include vp-767 {
    padding-top: 35px;
  }
}

.gallery__title {
  align-self: end;
  position: relative;
  margin-left: 120px;
  margin-right: 120px;
  margin-bottom: 20px;

  @include vp-1439 {
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 17px;
    margin-left: 45px;
    margin-right: 45px;
  }

  @include vp-767 {
    font-size: 22px;
    line-height: 22px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
  }

  &::after {
    content: 'Фотогалерея';
    font-size: 55px;
    line-height: 55px;
    opacity: 0.03;
    position: absolute;
    bottom: -3px;
    left: 0;

    @include vp-1439 {
      font-size: 40px;
      line-height: 48.76px;
      margin-left: -1px;
    }

    @include vp-767 {
      font-size: 26px;
      line-height: 26px;
      margin-left: -1px;
      bottom: 0;
    }
  }
}

.gallery__slider {
  @include vp-767 {
    margin-left: 15px;
    margin-right: 15px;
  }
}

.gallery__description-arrows {
  margin-left: 120px;
  margin-right: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 42px;

  @include vp-1439 {
    margin-left: 45px;
    margin-right: 45px;
    font-size: 14px;
    line-height: 22px;
    align-items: end;
    margin-bottom: 21px;
  }

  @include vp-767 {
    margin: 0;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 15px;
  }
}

.gallery__description {
  margin: 0;
  width: 693px;

  @include vp-1439 {
    width: 385px;
  }

  @include vp-767 {
    width: 261px;
    font-size: 12px;
    line-height: 18px;
    align-self: start;
  }
}


.gallery__arrows {
  position: relative;
  display: flex;
  align-items: end;
  justify-content: center;
  gap: 4px;
  padding-top: 10px;
  padding-bottom: 10px;

  @include vp-1439 {
    padding: 0;
  }
}

.gallery__button {
  width: 37px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-navy-blue;

  @include vp-1439 {
    width: 34px;
  }

  @include vp-767 {
    width: 37px;
  }
}

.swiper-button-disabled.gallery__button {
  background-color: #999999;
}

.gallery__slide {
  width: auto;
}

.gallery__slide-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;

  @include vp-767 {
    gap: 3px;
  }
}
