.hero {
  color: $color-default-white;
}

.hero__slide {
  position: relative;
}

.hero__image {
  z-index: -1;
  background: linear-gradient(112.1deg, rgba(15, 20, 41, 0.33) 17.23%, rgba(15, 20, 41, 0) 94.93%);
  top: 0;
  background-size: cover;
}

.hero__container {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 200px;
  padding-bottom: 80px;

  @include vp-1439 {
    padding-top: 212px;
  }

  @include vp-767 {
    padding-top: 140px;
  }
}

.hero__text {
  position: relative;
  z-index: 2;

  @include vp-1439 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 45px;
  }
}

.hero__title {
  font-size: 77px;
  line-height: 77px;
  width: 925px;
  margin-bottom: 23px;

  @include vp-1439 {
    font-size: 56px;
    line-height: 56px;
    width: 100%;
    margin-bottom: 13px;
  }

  @include vp-767 {
    font-size: 26px;
    line-height: 26px;
    margin-bottom: 15px;
  }
}

.hero__description {
  margin: 0;
  width: 460px;
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 37px;

  @include vp-1439 {
    margin-bottom: 27px;
    width: 475px;
  }

  @include vp-767 {
    width: 266px;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 60px;
  }
}

.hero__btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  padding: 20.5px 34px 19.5px 34px;
  margin-bottom: 134px;

  @include vp-1439 {
    margin-bottom: 0;
  }

  @include vp-767 {
    margin-bottom: 45px;
  }
}

.hero__details {
  @include vp-1439 {
    display: none;
  }
}

.hero__decor {
  position: absolute;
  right: 120px;
  bottom: 154px;

  @include vp-1439 {
    position: relative;
    display: flex;
    right: 0;
    bottom: 0;
    justify-content: center;
  }

  @include vp-767 {
    display: none;
  }
}

.hero__decor-button {
  background-color: transparent;
  position: absolute;
  padding: 0;
  width: 56px;
  height: 56px;
  top: 131px;
  left: 213px;

  @include vp-1439 {
    top: 122px;
    left: 311px;
  }
}

.hero__decor-button-icon {
  width: 100%;
  height: 100%;
}

.hero__slider .swiper-pagination {
  text-align: right;
  display: flex;
  gap: 12px;
  justify-content: end;
  bottom: 97px;
  padding-right: 116px;

  @include vp-1439 {
    justify-content: center;
    padding: 0;
    bottom: 40px;
  }

  @include vp-1439 {
    bottom: 40px;
  }
}

.hero__slider .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border: 1px solid $color-default-white;
  border-radius: 100px;
  background-color: transparent;
  margin: 0;
  opacity: 1;

  &-active {
    background-color: $color-default-white;
  }

  @include vp-767 {
    width: 8px;
    height: 8px;
  }
}

