.reviews {
  padding-top: 30px;
  padding-bottom: 30px;
}

.reviews__arrows {
  position: relative;
  display: flex;
  align-items: end;
  justify-content: end;
  gap: 4px;
}

.reviews__button {
  width: 37px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-navy-blue;
}

.swiper-button-disabled.trainers__button {
  background-color: #999999;
}

.reviews__wrapper {
  padding: 10px;
}

.reviews__card {
  padding: 20px;
  display: flex;
  gap: 30px;
  width: 700px;
  box-shadow: 0px 0px 20px 0px rgba(28, 51, 116, 0.1);
}

.reviews__info {
  width: 243px;
}

.reviews__text {
  margin: 0;
  font-size: 14px;
  line-height: 22px;
}

.reviews__person {
  display: flex;
  flex-direction: column;
}

.reviews__name {
  font-weight: 700;
  font-size: 13px;
  line-height: 13px;
}

.reviews__age {
  font-weight: 300;
  font-size: 13px;
  line-height: 13px;
}
