.social__list {
  display: flex;
  gap: 15px;
  margin-bottom: 22px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(45, 56, 63, 0.2);
}

.social__icon--vk {
  width: 16px;
  height: 9px;
}

.social__icon--ok {
  width: 9px;
  height: 16px;
}

.social__icon--reddit {
  width: 14px;
  height: 15px;
}

.navigation__social-policy {
  display: flex;
  flex-direction: column;
  align-items: center;
}
